/*
Theme Name: Lobin
Author: João Guilherme Storti
Description: Projeto para treinamento de PS da IN Junior
Version: 1
*/ 

/** HOME PAGE **/

/** HEADER **/

header {
    background-color: #85CDF5;
    margin: none;
}

.position {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

a:link {
    text-decoration: none;
}

.quemSomos {
    margin-left: 380px;
    margin-top: 42px;
    color: black;
    font-family: 'Darker Grotesque';
}

.icon {
    margin-left: 150px;
    margin-right: 150px;
}

.lobinhos {
    color: black;
    font-family: 'Darker Grotesque';
    margin-top: 42px;
}

.quemSomos:hover,
.lobinhos:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

/** MAIN **/

/** PARTE 1 **/

.background picture img {
    width: 100%;
    height: 10%;
}

.ajuste {
    position: relative;
    margin: auto;
}

.frase1 {
    position: absolute;
    font-size: 42px;
    left: 550px;
    top: 135px;
    font-family: 'Darker Grotesque';
    color: white;
}

.frase2 {
    position: absolute;
    font-size: 22px;
    left: 450px;
    top: 235px;
    font-family: 'Darker Grotesque';
    color: white;
}

.frase2:hover {
    transform: scale(1.05);
}

/** PARTE 2 **/

.sobre {
    background-color: #2C5680;
    padding: 25px;
}

.titSobre {
    color: #DEB959;
    text-align: center;
    font-family: 'Darker Grotesque';
}

.pSobre {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Darker Grotesque';
}

/** PARTE 3 **/

.valores {
    background-color: #333333;
    padding: 25px;
}

.titValores {
    color: #DEB959;
    text-align: center;
    font-family: 'Darker Grotesque';
}

.containImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.valor {
    background-color: #FAFAFA;
    max-width: 150px;
    height: 50px;
    border-radius: 70px;
    
}

.mother {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 60px;
}

.oldest,
.older,
.younger,
.youngest {
    color: #FFFFFF;
    max-width: 250px;
}

h3 {
    margin-left: 32px;
}

.mother p {
    margin-left: 32px;
}

/** PARTE 4 **/


.titExemplos {
    color: #DEB959;
    text-align: center;
    font-family: 'Darker Grotesque';
}

/** ESQ **/

.ladoEsq {
    box-sizing: border-box;
    width: 300px;
    height: 210px;
    border: 2px solid;
    background: #2C5680;
}

.imgEsq {
    margin-top: 20px;
    margin-right: 600px;
}

.imgEsq img {
    margin-left: 30px;
    margin-top: 20px;
    width: 300px;
    height: 210px;
}

.geralEsq {
    display: flex;
    margin-left: 180px;
}

.infoEsq {
    margin-left: 100px;
    font-family: 'Darker Grotesque';
    max-width: 600px;
    min-width: 600px;
}

/** DIR **/

.ladoDir {
    box-sizing: border-box;
    width: 250px;
    height: 210px;
    border: 2px solid;
    background-color: #2C5680;
}

.geralDir {
    display: flex;
    margin-top: 50px;
}

.imgDir img {
    margin-left: 30px;
    margin-top: 20px;
    width: 300px;
    height: 210px;
}

.infoDir {
    margin-right: 50px;
    margin-left: 150px;
    font-family: 'Darker Grotesque';
    max-width: 400px;
    min-width: 400px;
    text-align: right;
}

/** FOOTER **/

footer {
    margin-top: 50px;
    background-color: #333333;
    padding: 25px;
    display: flex;
}

iframe {
    width: 300px;
    height: 250px;
}

.contato {
    max-width: 30px;
}

.organizando {
    display: flex;
    flex-direction: row;
}
.organizando img {
    margin-left: 10px;
    margin-top: 40px;
}

.organizando .infos {
    margin-left: 30px;
}

address, 
.pFooter,
.email {
    width: 350px;
    padding: 4px;
}
    

.infos {
    color: white;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: 180px;
    padding: 10px;
}

.organizando picture,
.infos {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.quemSomosFooter {
    box-sizing: border-box;
    width: 94px;
    height: 20px;
    left: 512px;
    top: 194px;
    background-color: yellow;
}

.contato a:link {
    text-decoration: none;
    color: white;
}

.contato a:link .quemSomosFooter {
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-left: 20px;
}

.pPatinha {
    color: white;
    margin-top: 50px;
    width: 150px;
}

.patinha {
    left: 76.79%;
    right: 15.79%;
    top: 32%;
    bottom: 30.18%;
}

.patinha picture img {
    margin-top: 1px;
}

/** LISTA LOBINHOS **/

/** PESQUISA **/

.lupa {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.pesquisa {
    width: 1008px;
    height: 27px;
    left: 221px;
    top: 163px;
    background-size: 1.3em;
    padding-left: 1.3em;
}

#addLobo {
    background-color: #DEB959;
    border: none;
    font-size: large;
    padding: 6px;
    color: white;
}

/** LOBOS **/

.loboEsq,
.loboDir {
    display: flex;
}

.loboEsq {
    margin-right: 20px;
    
}

.btnEsq,
.btnDir {
    width: 180px;
    height: 56px;
    border: none;
}

.btnEsq,
.btnDir {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.btnEsq {
    margin-left: 200px;
}

.btnDir {
    margin-right: 300px;
    margin-top: 10px;
}

h4 #reverse {
    margin-right: 50px;
    margin-left: 200px;
    font-family: 'Darker Grotesque';
    max-width: 600px;
}

#adotar {
    background-color: #DEB959;
}

#adotar a {
    color: #FFFFFF;
}

#adotado {
    background-color: #7AAC3A;
    color: #FFFFFF;
}

/** show lobo **/

.titLobin {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.fraseShow {
    max-width: 400px;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    margin-top: 50px;
    margin-left: 10%;
}

.adotaLobin,
.apagaLobin {
    width: 180px;
    height: 56px;
    border: none;
}

.adotaLobin,
.apagaLobin {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.adotaLobin {
    background-color: #7AAC3A;
}

.apagaLobin {
    background-color: #DE5959;
}

/** Adotar lobo **/

.topoAdotar {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.topoAdotar picture img {
    width: 230px;
    height: 216px;
    border-radius: 50%;
}

.titAdotar h1 {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600px;
    font-size: 60px;
    line-height: 81px;
    margin-bottom: none;
}

.titAdotar h2 {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600px;
    font-size: 14px;
    line-height: 19px;
    margin-top: none;
}

.formAdotaLobo {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;

}

.formAdotaLobo input {
    display: block;
}

.linhaCima {
    display: flex;
    justify-content: space-around;
}

.formEmail input,
.formIdade input,
.formNome input {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
    border: none;
    border-bottom: 1px solid;
}

.formNome input {
    width: 800px;

}

.formIdade input {
    width: 50px;
}

.formEmail {
    margin-top: 20px;
    margin-left: 35px;
}
.formEmail input {
    width: 900px;

}

.botaoAdotar {
    width: 1vw;
    margin: 50px auto 50px auto;
}

#adotarlobo {
    background-color: #2C5680;

}

/**Adiciona lobo**/

.FSlobo {
    width: 900px;
    margin: auto;
    margin-top: 100px;
}

.FSlobo h1 {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 81px;
    text-align: center
}

.FSlobo label {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
}

.FSlobo input,
.FSlobo textarea{
    display: block;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
    background-color: #E6E6E6;
}

.nomeLobo,
.idadeLobo,
.fotoLobo,
.descricaoLobo {
    margin: 10px
}

.nomeidade {
    display: flex;
}

.nomeLobo input {
    width: 750px;
}

.idadeLobo input {
    width: 80px;
}

.fotoLobo input {
    width: 850px;
}

.descricaoLobo textarea {
    width: 850px;
    height: 250px;
    resize: none;
}

.btnSalvar button{

    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 180px;
    height: 56px;
    border: none;
    background-color: #2C5680;
}

.btnSalvar {
    width: 180px;
    margin: auto;
}
/** QUEM SOMOS **/

.titQuemSomos {
    padding: 15px;
    font-family: 'Roboto';
    text-align: center;
}

.pQuemSomos {
    font-family: 'Darker Grotesque';
    text-align: center;
    letter-spacing: 0.155em;
    margin-left: 180px;
    width: 960px;
    height: 134px;
}

/** **/
